<div class="user-show">
<h2 id="username"><%= @user.username %></h2>
<img src=<%= @profile_photo %> height="200" width="200"
<br>
<h5><%= @user.first_name %> <%= @user.last_name %></h5>
<p><%= @user.email %></p>
</div>
