<div class="container wrapper">
  <div class="col text-center">
    <h2 id="username"><%= @user.username %></h2>
    <img src=<%= @profile_photo %> height="200" width="200"
    <br>
    <h5><%= @user.first_name %> <%= @user.last_name %></h5>
    <h6>Certification Level: <%= @user.certification %></h6>
    <% if @user.home_town %>
      <p>Home Town: <%= @user.home_town %></p>
    <% end %>
    <p><%= @user.email %></p>
  </div>
</div>
