<!DOCTYPE html>
<html>
<head>
  <title>TheDiveLog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
  <link rel="icon" href="../../assets/images/favicon.ico"/>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_pack_tag    'application' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar">
    <nav class="navbar">
      <h1><a href="/" class="navbar-brand main bar-text">TheDiveLog</a></h1>
        <div class="nav-item dropdown">
          <%- if current_user -%>
            <a class="nav-link dropdown-toggle bar-text" href="#" id="signedInNavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <div class="dropdown-menu" aria-labelledby="signedInNavbarDropdownMenuLink">
              <li class="dropdown-item"><%= link_to 'Profile', user_path(current_user.id) %></li>
              <li class="dropdown-item"><%= link_to 'Edit', edit_user_registration_path %></li>
              <li class="dropdown-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </div>
          <%- else -%>
            <a class="nav-link dropdown-toggle bar-text" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="dropdown-item"><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li class="dropdown-item"><%= link_to 'Sign In', new_user_session_path %></li>
            </div>
          <%- end -%>
        </div>
    </nav>
  </div>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <%= yield :extra_footer %>
</body>
</html>
